:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* LOGIN PAGE */

.Login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vh;
}

.Login {
  border: 4px solid;
}

.button {
  width: 50%;
  align-items: center;
  margin-left: 120px;
}

/* NAVBAR*/
.Nav {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid;
}

.Navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-link {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
}

/* HOME PAGE */

.title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
}

.routines-section {
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routine-activity-section {
  display: flex;
}

.list {
  list-style-type: circle;
  margin-right: 33px;
}

.RA-li {
  margin: 10px;
}

/* ROUTINES PAGE */

.routine-card {
  flex-basis: 200px;
  flex-grow: 1;
  margin: 5px 10px;
  padding: 10px;
  border: 3px solid;
}

.all-routine-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ACTIVITIES PAGE */

.Activity-card {
  flex-basis: 200px;
  flex-grow: 1;
  margin: 5px 10px;
  padding: 10px;
  border: 3px solid;
}

.all-activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
